<h1>FORM PRACTICE IN ANGULAR</h1>
<form>
    <div>
        <label></label>
        <input [formControl] = "myForm">
    </div>
</form>

<hr>

<form [formGroup]="myGroupForm">
    <div>
        <label>
            <input formControlName="firstMadeGroupControl" placeholder="firstMadeGC">
        </label>
    </div>

    <div>
        <label>
            <input formControlName="secondMadeGroupControl">
        </label>
    </div>

    <div>
        <label>
            <input formControlName="thirdMadeGroupControl">
        </label>
    </div>
</form>